{%extends "base.html"%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='LOGIN.css')}}"> -->
</head>
<body>
    {%block body%}

    <div class="login-box">
        
        <form method="post">
            <div class="text-box">
                <input type="email" name="password" placeholder="Enter email">
            </div>
            <div class="text-box">
                <input type="password" name="password" placeholder="Password">
            </div>

            <input id="btn" onclick="show()" class="login-btn" type="button"value="SIGN-UP">
        </form>
        </div>
    </div>
    <script type=text/javascript src="{{url_for('static', filename='login.js') }}"></script>
    {%endblock%}
</body>
</html>