{% extends 'base.html'%}


{%block body%}
    <section>
        <h2 class="title"></h2>
        <div class="container">
            <div id="video_player">
                <video controls id="main-Video" src="" type="video/mp4">

                </video>
            </div>
            <div class="playlistBx">
                <div class="header">
                    <div class="row">
                        <span class="AllLessons"></span>
                    </div>
                </div>
                <ul class="playlist" id="playlist">
                </ul>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='ben10_s1.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{%endblock%}